<form class="login100-form validate-form" method="POST" action="/forgot_password">
  <% if(locals.error) {%>
  <div class="alert alert-danger">
    <%= error %>
  </div>
  <%} else if(locals.successMessage) {%>
  <div class="alert alert-success">
    <%= successMessage %>
  </div>
  <%}%>
  <span class="login100-form-title p-b-43">
    Forgot Password
  </span>

  <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
    <input class="input100" type="text" name="email" />
    <span class="focus-input100"></span>
    <span class="label-input100">Your Email</span>
  </div>

  <div class="container-login100-form-btn">
    <button class="login100-form-btn">
      Send Password
    </button>
  </div>

  <div class="text-center p-t-46 p-b-20">
    <a href="/login">
      <span class="txt2">
        or log in
      </span>
    </a>
  </div>
</form>
