<form class="login100-form validate-form" method="POST" action="/register">
  <% if(locals.errors) {%>
  <div class="alert alert-danger">
    <ul>
      <% error.forEach(function (err) {%>
      <li><%= err.msg %></li>
      <%})%>
    </ul>
  </div>
  <%} else if(locals.successMessage) {%>
  <div class="alert alert-success">
    <%= successMessage %>
  </div>
  <%}%>
  <span class="login100-form-title p-b-43">
    Sign up to continue
  </span>
  <div class="wrap-input100 validate-input" data-validate="Name is required">
    <input class="input100" type="text" name="name" />
    <span class="focus-input100"></span>
    <span class="label-input100">Name</span>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
    <input class="input100" type="text" name="email" />
    <span class="focus-input100"></span>
    <span class="label-input100">Email</span>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Password is required">
    <input class="input100" type="password" name="password" />
    <span class="focus-input100"></span>
    <span class="label-input100">Password</span>
  </div>

  <div class="container-login100-form-btn">
    <button class="login100-form-btn">
      Register
    </button>
  </div>

  <div class="text-center p-t-46 p-b-20">
    <a href="/login">
      <span class="txt2">
        or log in
      </span>
    </a>
  </div>
</form>
